
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.opensdf
*.sdf
*.dll
*exe
*.exp
bin64/table.dat
*.ipch
bin64/*.bin
!bin64/Ionic.Zip.dll
!bin64/protobuf-net.dll
bin64/test1.vshost.exe.manifest
ignore/*
bin64/Ionic.Zip.dll
*.arc
*.generated.*
test/001_test_backup_and_restore/backup_script.txt
test/001_test_backup_and_restore/restore_script.txt
test/001_test_backup_and_restore/revision_data.pickle
test/001_test_backup_and_restore/test_repo/
test/001_test_backup_and_restore/__pycache__/
test/002_test_crypto/__pycache__/
test/002_test_crypto/*.txt
test/002_test_crypto/*.dat
test/002_test_crypto/*.pickle
test/002_test_crypto/test_repo/
test/001_test_backup_and_restore/backup/*
test/002_test_crypto/backup/
*.idb
